/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 340; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: #a674ce;
    --first-color-alt: #b190cc;
    --second-color: #f00bd1;
    --second-color-alt: #ffa8d4;
    --third-color: #ebbd5a91;
    --third-color-alt: #d6af89;
    --fourth-color: #87e0e0;
    --fourth-color-alt: #0766666c;
    --body-color: #d5b4f5;
    --body-color-alt: #735a8b;
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --text-color-light: hsl(var(--hue-color), 8%, 75%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --input-color: hsl(var(--hue-color), 70%, 96%);


    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-medium: 500 ;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

body{
    background-color: #74EBD5;
    background-image: radial-gradient( circle farthest-corner at -14.3% -17.5%,  rgba(245,168,168,1) 4%, rgba(164,168,248,1) 100.2% );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:     cover; 
    background-position: center center;
}


/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
     color: var(--first-color);
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--big-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--big-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.section__tab{
    display: block;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
}

.section__title, .section__subtitle{
    text-align: center;
}

.links{
    color: var(--title-color);
}

.links:hover{
    color: var(--first-color-alt);
}
/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    padding-left: var(--mb-1-5);
    padding-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}
/*==================== NAV ====================*/
.nav{
    max-width: none;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color-alt);
    box-shadow: 0px 0px 30px 2px var(--first-color);
}

.nav__logo, .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color-alt);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color-alt);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }    
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color-alt);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */
.active-link{
    color: var(--first-color-alt);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== HOME ====================*/
.home__container{
    gap: 1rem;
    max-width: none;
    text-align: center;
}

.home__content{
    grid-template-columns: 5.5fr;
    padding-top: 3.5rem;
}

.home__social{
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem;
    row-gap: 0.5rem ;
    margin-top: -3rem;
}

.home__social-icon{
    font-size: 1.6rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__img{
    padding-top: 4rem;
}

.home__blob{
    
    width: 200px;
    transform: scale(2);
    fill: #d5b4f5;
    background-color: (0, 0, 0, 0);
}

.home__blob_shadow{
    grid-column: 1/3;
    width: 200px;
    height: 200px;
    background-color: (0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 0px 80px 120px var(--first-color-alt);
    margin: 0 auto;
    transform: scale(0.5);
}

.home__blob_contour{
    width: 200px;
    fill: var(--first-color);
    
}

.home__blob-img{
    width: 190px;
    margin: 0 auto;
}

.home__data{
    grid-column: 1/3;

    font-size: var(--h1-font-size);
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h1-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
    margin-right: 1rem;
    margin-left: 1rem;
}


.home__scroll{
    /* display: none; */
    grid-column: 1/3;
}

.home__scroll-button{
    font-size: 5rem;
    color: var(--first-color);
    transition: .3s;
    padding-bottom: 5rem;
    filter: drop-shadow(0px 3px 5px var(--first-color));
}

.home__scroll-button:hover{
    transform: translateY(-1.25rem);
}


.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    padding-top: 0.5rem;
    font-size: 2.25rem;
}

/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img{
    width: 300px;
    border-radius: 1.0rem;
    justify-self: center;
    align-self: center;
}

.about__data{
    background-color: var(--body-color);
    border: 5px solid var(--first-color-alt);
    box-shadow: var(--first-color-alt) 0px 0px 0px 2px inset, rgb(255, 255, 255,0) 10px -10px 0px -3px, var(--third-color) 10px -10px;
    border-radius: 5%;
}

.about__description{
    margin-bottom: var(--mb-2-5);
    color: var(--title-color);
    font-size: 1.05rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: justify;
}

.about__info{
    display: flex;
    color: var(--title-color);
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);

}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name{
    font-size: var(--small-font-size);
}

.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}

.about__buttons{
    display: flex;
    justify-content: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin:1.5rem;
}



/*==================== RESEARCH ====================*/

.research__container{
    grid-template-columns: repeat(1, 1fr);
    font-size: var(--h2-font-size);
    text-align: center;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--body-color);
    box-shadow: var(--first-color-alt) 0px 0px 0px 3px, var(--body-color) 0px 0px 0px 6px, var(--first-color) 0px 0px 0px 9px, var(--body-color) 0px 0px 0px 12px, var(--third-color) 0px 0px 0px 15px;
}

.research__img{ 
    width: 70%;
    height:200px;
    border-radius: 0.5rem;

}

.research__row{
    grid-template-columns: repeat(1, 2fr);
    margin-top: -1rem;
}

.research__row::after {
    content: "";
    clear: both;
    display: table;
  }

.research__column {
    float: center;
    text-align: center;
    width: 100%;
    padding: 5px;
  }

.research__img_l{ 
    width: 50%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: normal;
    margin-right: 1rem;
    float: left;
}

.research__img_r{ 
    width: 50%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: normal;
    margin-left: 1rem;
    float: right;
}

.research__intro{
    grid-template-columns: repeat(1, 1fr);
    font-size: var(--h3-font-size);
    text-align: justify;
    color: var(--title-color);
    background-color: var(--body-color);
}

.research__subtitle{
    text-align: center;
    padding: 2rem;
}

.research__description{
    margin: 0.5rem;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    text-align: justify;
}


/*==================== Publications ====================*/
.pubs__container{
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--body-color);
    background-size: 13px 13px;
    border-radius: 2%;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: repeating-linear-gradient(45deg, #8345f71f 0, #8345f71e 1.3px,  var(--body-color) 0,  var(--body-color) 50%);
    border: 5px dashed var(--first-color);
    box-shadow: 0px 0px 40px 10px var(--third-color);
    line-height: 0.8;
}


.pubs__content{
    position: relative;
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;

}

.pubs__content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.pubs__icon{
    margin-right: 0.1rem;
    margin-top: -0.3rem;
    margin-bottom: -1.8rem;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--first-color);
}

.pubs__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);

}

.pubs__subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);

}




/*==================== PORTFOLIO ====================*/
.portfolio__container{
    background-color: var(--body-color);
    border: 5px solid var(--first-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    box-shadow:  rgba(186, 111, 236, 0.562) -5px 5px,  rgba(200, 140, 240, 0.562) -10px 10px,  rgba(199, 156, 228, 0.562) -15px 15px,  rgba(198, 150, 230, 0.281) -20px 20px;
}

.portfolio__content{
    padding: 0 1.5rem;
}

.portfolio__img{
    width: 50%;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.portfolio__description{
    margin-bottom: var(--mb-0-75);
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.portfolio__button{
    font-size: var(--h1-font-size);
}

.portfolio__title-more{
    color: var(--text-color);
    font-size: var(--h2-font-size);
    text-align: center;
    padding-top: 3rem;
}

.portfolio__title-more:hover{
    color: var(--first-color);
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}

.swiper-button-prev::after, .swiper-button-next::after{
    content: '';
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: .2rem;
}

.swiper-button-next{
    right: .2rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color-alt);
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination-bullet{
    outline: none;
}

/*==================== CONTACT ME ====================*/
.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    color: var(--text-color);
}

/*==================== FOOTER ====================*/
.footer__container{
    row-gap: 0.1rem;
}

.footer__bg{
    background-color: var(--fourth-color-alt);
    padding: 2rem 0 3rem;
    text-align: center;
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color: var(--fourth-color);
}

.footer__copy{
    font-size: var(--small-font-size);
    color: #fff;
}

.footer__title, .footer__link, .footer__social{
    color: #fff;
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 1.0rem;
    border-radius: 1.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 2.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 380px) {
    .home__title, .home__subtitle{
        font-size: var(--h3-font-size);
    }

    .home__scroll{
        margin-top: -3rem;
    }

    .research__img{ 
        width: 100%;
    }

    .research__img_l{ 
        width: 100%;
    }

    .research__img_r{ 
        width: 100%;
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }

    .nav__logo{
        font-size: var(--h1-font-size);
    }

    .about__description{
        padding: 1rem;
        justify-self: center;
        font-size: small;
    }
    .pubs__container, .contact__container{
        grid-template-columns: 1fr;
        justify-content: center;
        margin-left: 1rem;
        justify-self: center;
        
    }

    .research__intro, .research__description, .portfolio__description{
        font-size: small;
    }

    .research__column{
        margin: 0%;
    }

    .portfolio__container{
        padding:0%;
        padding-bottom: 1rem;
    }

    .portfolio__img{
        width: 75%;
    }

    .pubs__content{
        padding-right: 3.5rem;
    }
    .pubs__modal{
        padding: 0 .5rem;
    }
    .research__column {
        float: left;
        width: 100%;
        padding: 5px;
      }

}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: .5fr 3fr;
        padding-top: 3.5rem;
    }
    
    .home__social{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem ;
        padding-top: 7rem;
        height: 20rem;
    }

    .home__img{
        grid-template-rows: 0.3fr .3fr .1fr;
    }

    .home__blob{
        width: 200px;
        transform: scale(2);
        fill: #d5b4f5;
        background-color: (0, 0, 0, 0);
    }
    
    .home__blob_shadow{
        width: 200px;
        height: 200px;
        background-color: (0, 0, 0, 0);
        border-radius: 50%;
        box-shadow: 0px 0px 80px 120px var(--first-color-alt);
        margin: 0 auto;
        transform: scale(0.5);
        grid-column: 1;
    }

    .home__blob_contour{
        width: 200px;
        fill: var(--first-color);
        
    }
    
    .home__blob-img{
        width: 190px;
        margin: 0 auto;
    }

    .home__scroll{
        /* display: none; */
        grid-column: 1;
    }

    .research__img{ 
        width: 50%;
    }

    .research__img_l{ 
        width: 30%;
    }

    .research__img_r{ 
        width: 30%;
    }

    .research__container{
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .pubs__container{
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .portfolio__img{
        width: 365px;
    }

    .research__description{
        font-size: var(--h3-font-size);
    }
    .home__content{
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }
    .home__data{
        grid-column: initial;
    }

    .about__img{
        width: 350px;
        align-self: baseline;
    }

    .about__container, .portfolio__content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .home__blob{
        width: 200px;
        transform: scale(1.5) translateX(-2rem);
        fill: #d5b4f5;
        background-color: (0, 0, 0, 0);
    }
    
    .home__blob_shadow{
        width: 200px;
        height: 200px;
        background-color: (0, 0, 0, 0);
        border-radius: 50%;
        box-shadow: 100px 100px 80px 60px var(--first-color-alt);
        margin: 0 auto;
        transform: scale(0.5);
    }
    

    .research__img{ 
        width: 100%;
    }

    .research__img_l{ 
        width: 30%;
    }

    .research__img_r{ 
        width: 30%;
    }

    .research__container{
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .research__description{
        font-size: var(--h3-font-size);
    }

    .pubs__container{
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 2rem;
    }
    .section__tab{
        margin-bottom: 2rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header, 
    .main{
        padding-top: 0rem;
        padding-bottom: 0.5rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        box-shadow: rgba(186, 111, 236, 0.562) 0px 5px, rgba(197, 121, 216, 0.562) 0px 10px, rgba(205, 134, 223, 0.562) 0px 15px, rgba(218, 160, 233, 0.562) 0px 20px, rgba(226, 168, 240, 0.226) 0px 25px;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }

    .home__content{
        padding-top: 5.5rem;
    }

    .home__blob{
        width: 270px;
    }
    .home__blob_shadow{
        box-shadow: -10px 30px 120px 80px var(--first-color);
    }

    .home__scroll{
        display: block;
    }

    .about__container{
        column-gap: 1rem;
    }

    .research__column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }

    .service__icon{
        font-size: 2rem;
    }
    .pubs__container{
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .pubs__modal-content{
        width: 450px;
    }

    .portfolio__img{
        width: 320px;
    }
    .portfolio__content{
        align-items: center;
    }

    .footer__socials{
        text-align: center;
    }
}

/* For large devices */
@media screen and (min-width: 968px) {
    .home__blob{
        width: 320px;
    }
    .home__blob_shadow{
        box-shadow: 10px 50px 140px 90px var(--first-color);
    }

    .home__subtitle{
        margin-bottom: var(--mb-0-75);
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .home__social{
        row-gap: 0rem;
    }

    .about__buttons{
        font-size: var(--h1-font-size);
    }

    .pubs__container{
        line-height: 0.5;
    }

    .research__img_l, .research__img_r{ 
        width: 250px;
    }

    .research__column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }

    .portfolio__container{
        column-gap: 5rem;
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: 0.8rem;
    }
    .swiper-button-next{
        right: 0.8rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -4.5rem;
    }
    .portfolio__button{
        font-size: var(--h2-font-size);
    }

    .scrollup{
        right: 3rem;
    }
}

/* For largest devices */
@media screen and (min-width: 1350px) {
    .home__subtitle{
        margin-bottom: var(--mb-0-75);
        margin-right: 15rem;
        margin-left: 15rem;
    }
}